body{
  font-family: 'Inter', sans-serif;
  background-color: ;
}

.ikon{
  font-size: 70px;
}

@media (max-width: 767px) {
  .ikon {
    font-size: 30px; /* Adjust the font size for small devices */
  }
}

/* Media query for medium devices (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .ikon {
    font-size: 50px; /* Adjust the font size for medium devices */
  }
}